/* Asperous.us website's Style by Andy Chase */
/* The basics */
body, div, h1, h2, h3, p {
  margin:0;
  padding:0;
  border:0;
} 

html {
    font-family:sans-serif;
    font-size:12pt;
}


/* The main center tower */
.tower{
    margin-top: 50px;  
    margin-left:auto;
    margin-right:auto;
    width: 500px;
}
    
.tower h1 {
      text-align: center;
}

.box {
    width: 100%;
}

.box img {
    width: 100%;
}

.box h3 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    font-size: 24pt;
    position: relative;
    height: 0px;
    left: 40%;
    bottom: 30pt;
    width: 60%;
}

.box:hover h3 {
    color: red;
}

/* The side */
.side {
    width: 160px;
}

.side ul li {
    list-style: none;
    margin-left: 30px;
    margin-right: 30px;
}

.side a {
    color: black;
    text-decoration: none;
    border-bottom: dotted grey 1px;
}

.side a:hover {
    background-color: red;
    border: none;
}

.left.side {
    float: left;
    text-align: right;
    margin-left: -165px;
}

.right.side {
    float: right;
    text-align: left;
    margin-right: -165px;
}

.side i {
    font-size: 9pt;
}


#more h2 {
    color: grey;
    text-align: center;
}

#showonmouseover {
    display: none;
    min-height: 1000px;
}

#more:hover #showonmouseover {
    display: inherit;
}

#latest {
    border-bottom: 2px solid black;
    display: none;
}

/* For smaller screens */

@media screen and (max-width: 850px) {
    html {
        font-size: 10pt;
    }
    .tower {
        width: 200px;
        margin-top: 15px;
    }
    
    .tower h1 {
        font-size: 10pt;
    }
    .box h3 {
        font-size: 12pt;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 8pt;
    }
    .tower {
        font-size:8pt;
        width: 200px;
        margin-top: 10px;
    }
    
    .tower h1 {
        font-size: 12pt;
    }
    
    .side.left, .side.right {
        float: none;
        text-align: left;
        width: inherit;
        margin-left: inherit;
        margin-right: inherit;
    }
    
    #latest {
        display: inherit;
    }
    
    #more h2 {
        display: none;
    }
    
    #more #showonmouseover {
        min-height: 250px;
        display: inherit;
    }
    .box h3 {
        text-shadow: none;
        color: black;
        font-size: 8pt;
    }
}